.cardone{
  width: 300px;
    margin-right: 24px;
    padding: 12px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 24px;
    
}
.fortitles{
  font-weight: 800;
  width: 300px;
  font-size: 15px;
}
.forcontent{
  position: relative;
  font-size: 12px;
margin-top: 10px;
}

.forsubicons{
  padding: 10px;
}
hr{
  opacity: 0.4;
}
.forsubbuttons{
  margin-top: 10px;
  display: flex;
}
.learnmorebutton{
  font-size: 13px;
}
.getquotebutton{
  margin-left: 120px;
  font-size: 13px;
}
.arroworange{
  margin-top: 5px;
}
.rectangle{
  
  position:absolute;
  margin-bottom: 2px;
 width: 300px;
height: 150px;
bottom: 0px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 24.97%, #FFF 100%);
}



@media (min-width: 768px) and (max-width: 1024px){
  .cardone{
    width: 245px;
      margin-right: 24px;
      padding: 12px;
      background-color: #FFFFFF;
      border-radius: 15px;
      margin-bottom: 24px;
  }
  .rectangle{
   width: 230px;
  }
  .forsubbuttons{
    margin-top: 10px;
    display: flex;
  }
  .learnmorebutton{
    font-size: 7px;
  }
  .getquotebutton{
    margin-left: 120px;
    font-size: 7px;
  }
  
}




@media (min-width: 480px) and (max-width: 768px){
  .cardone{
    width: 220px;
      margin-right: 24px;
      padding: 12px;
      background-color: #FFFFFF;
      border-radius: 15px;
      margin-bottom: 24px;
  }
  .rectangle{
   width: 220px;
  }
  .forsubbuttons{
    margin-top: 10px;
    display: flex;
  }
  .learnmorebutton{
    font-size: 7px;
  }
  .getquotebutton{
    margin-left: 120px;
    font-size: 7px;
  }
  
}



@media (min-width: 320px) and (max-width: 480px){

  .cardone{
    width: 250px;
      margin-right: 24px;
      padding: 12px;
      background-color: #FFFFFF;
      border-radius: 15px;
      margin-bottom: 24px;
  }
  .rectangle{
    width: 250px;
   }
}